.co-file-dropzone .co-m-nav-title--detail.co-m-nav-title {
  display: none;
}

.node-selector-list {
  max-height: 17rem;
  overflow: auto;
}

.node-health-check-editor-yaml-view {
  display: flex;
  flex-grow: 1;
}

.node-health-check-editor-yaml-view .yaml-editor__buttons {
  display: none;
}

#info-inline-alert {
  margin-bottom: unset;
}

.synced-editor .ocs-synced-editor-field__editor-toggle {
  padding-left: 1.5rem;
  border-top: none;
  padding-bottom: var(--pf-global--spacer--sm);
}

.synced-editor .ocs-synced-editor-field__editor-toggle .pf-c-radio {
  margin-right: var(--pf-global--spacer--lg);
}